<div [style.background]="type['color']" id="divTitle">
    <h1 [style.color]="determineFontColor(type['color'])">{{ pokemon.nom }}</h1>
</div>


<div>
    <h2 [style.color]="determineFontColor(type['color'])"> Numéro#{{ pokemon.id }} </h2>
</div>

<div>
    <table>
        <tr>
            <td>Attaque</td>
            <td>{{ pokemon.attaque }}</td>
        </tr>
        <tr>
            <td>Défense</td>
            <td>{{ pokemon.defense }}</td>
        </tr>
        <tr>
            <td>Vitesse</td>
            <td>{{ pokemon.vitesse }}</td>
        </tr>
    </table>
</div>

<div id="actions">
    <button mat-fab color="warn" (click)="openDialog2(pokemon)">
        <mat-icon size="large">settings</mat-icon>
    </button>

    <app-delete-pokemon [toDelete]="pokemon.id"></app-delete-pokemon>
</div>
    



