#apercu {
    width : 2em;
    height:2em;
    border : 1px solid black;
    margin : auto;
    margin-top : 1em;
    border-radius: 18px;
}

#div_apercu {
    text-align: center;
    justify-content: center;
}