nav {
    margin : auto;
    text-align: center;
    padding : 5em;
}

nav a {
    text-decoration: none;
    color : red;
    border : 1px solid red;
    border-radius: 18px;
    margin : auto;
    padding : 3em;
    transition: background-color 1s ease;
    font-weight: bold;
    font-size : 18px;
}

nav a:hover {
    color : white;
    background: red;
}

nav a:first-child{
    margin-right : 15em;
    margin-left: -5em;
}

nav a:last-child{
    margin-left: 5em;
}